---
import ScladImg from "../assets/images/sclad.png";
---

<section>
    <div class="container mx-auto px-[20px] my-[100px]">
        <h1 class="text-[#333] text-[48px] font-bold leading-[54px] mb-6 text-center">
            Фоточки
        </h1>
        <img src={ScladImg.src} alt="img" class="w-[80%] mx-auto">
        <div class="relative left-[45%] flex items-center gap-2 py-5">
            <span class="w-[24px] h-2 rounded-[10px] bg-[#4762FF]"></span>
            <span class="w-2 h-2 rounded-[10px] bg-[rgba(71,98,255,0.74)]"></span>
            <span class="w-2 h-2 rounded-[10px] bg-[rgba(71,98,255,0.74)]"></span>
            <span class="w-2 h-2 rounded-[10px] bg-[rgba(71,98,255,0.74)]"></span>
        </div>
    </div>
</section>