---

---

<section class="mt-[150px] bg-[#F4F4F4]">
    <div class="container mx-auto pl-[20px] flex items-center justify-between">
      <div class="w-[546px]">
        <h1 class="text-[#333] text-[48px] font-bold leading-[54px] mb-4">
            Где мы?
        </h1>
        <p class="text-[18px] font-normal text-[rgba(51,51,51,0.70)] pb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <p class="text-[18px] font-normal text-[rgba(51,51,51,0.70)] pb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <p class="text-[18px] font-normal text-[rgba(51,51,51,0.70)] pb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
      </div>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6685.617012350607!2d69.27955490026535!3d41.310712938854415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b2b7d34ef47%3A0xc2de71596785128a!2sEco%20Park%20Tashkent!5e0!3m2!1sru!2s!4v1703140018622!5m2!1sru!2s" width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </div>
</section>