---
import Truck from "../assets/images/truck.png";
---

<section>
  <div class="container mx-auto pl-[20px] flex items-center justify-between my-[77px]">
    <div class="w-[540px]">
      <h1 class="text-[#333] text-[60px] font-bold leading-[76px]">
        Affordable truck service
      </h1>
      <p class="text-[18px] font-normal text-[rgba(51,51,51,0.70)] pb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
        et, lectus sit lorem id integer.
      </p>
      <button
        class="text-[16px] font-medium text-white py-[11px] px-[23px] bg-[#4762FF] rounded-md hover:bg-[#303b7e] duration-150 active:bg-[#4762FF]"
      >
        Чета сделать
      </button>
    </div>
    <div>
        <img src={Truck.src} alt="Truck img">
    </div>
  </div>
</section>
