---
import BgImg from "../assets/images/bg-img.jpg";
---

<section class="last-section">
    <div class="container mx-auto  relative">
    <img src={BgImg.src} alt="img" class="w-[100%] ">
        <form action="https://echo.htmlacademy.ru/" method="post" class="z-10 absolute top-[75px] right-[229px] w-[611px] h-[548px] bg-white rounded-[15px] py-10 px-[71px]">
            <h2 class="text-[56px] text-[#333] font-bold leading-[65px] mb-4">
                Остались <br> вопросы?
            </h2>
            <p class="text-[18px] text-[rgba(51,51,51,0.80)] pb-[35px]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.
            </p>
            <label for="name" class="w-[100%]">
                <input name="Name" id="name" class="block bg-[rgba(71,98,255,0.08)] rounded-[8px] w-[100%] py-[17px] px-[20px] mb-[23px] outline-none" type="text" placeholder="Имя">
            </label>
            <label for="tel" class="w-[100%]">
                <input name="Tel" id="tel" class="block bg-[rgba(71,98,255,0.08)] rounded-[8px] w-[100%] py-[17px] px-[20px] mb-[23px] outline-none" type="tel" placeholder="Номер телефона">
            </label>
            <button type="submit" class="text-[16px]  font-medium text-white py-[11px] px-[23px] bg-[#4762FF] rounded-md hover:bg-[#303b7e] duration-150 active:bg-[#4762FF]">
              Заказать звонок
            </button>
        </form>
    </div>
</section>

<!-- <style>
    #last-section {
        background-image: url(../assets/images/bg-img.jpg);
        background-position:center;
        background-repeat: no-repeat;
        object-fit:scale-down;
        /* height: 200px;
        display: flex;
        align-items: center; */
    }
</style> -->