---
import logo from "../assets/images/logo2.svg";
import WhatsappLogo from "../assets/images/whatsapp-logo.svg";


---

<footer class="pt-[50px] bg-[#1A1A1A]">
   <div class="container mx-auto px-[20px]">
     <ul class="flex items-start justify-around pb-[67px] border-b border-[#474747]">
        <li>
            <a href="#"><img src={logo.src} alt="logo"></a>
        </li>
        <li>
           <h3 class="text-[28px] font-medium text-white pb-[10px]">
              Главная
           </h3>
           <p class="text-[16px] text-white"> 
              Это мы
           </p>
           <p class="text-[16px] text-white"> 
            Кто мы
         </p>
         <p class="text-[16px] text-white"> 
            Почему мы?
         </p>
         <p class="text-[16px] text-white"> 
            Остались вопросы
         </p>
         <p class="text-[16px] text-white"> 
            Контакты
         </p>
        </li>
        <li>
            <h3 class="text-[28px] font-medium text-white pb-[10px]">
                Контакты    
            </h3>
            <p class="text-[16px] text-white"> 
                +7 (708) 803 88 88
            </p>
            <p class="text-[16px] text-white"> 
                +7 (708) 803 88 88
            </p>
            <p class="text-[16px] text-white"> 
                +7 (708) 51 51 518
          </p>
          <p class="text-[16px] text-white"> 
            +7 (700) 51 51 518
          </p>
          <p class="text-[16px] text-white flex items-center gap-2 pt-2">
            <img src={WhatsappLogo.src} alt="whatsapp logo"> 
            +7 (708) 802 88 88
          </p>
          <p class="text-[16px] text-white flex items-center gap-2 pt-2"> 
            <i class="bi bi-geo-alt-fill text-white"></i>
            г. Бишкек, ул. Ляляля 69
          </p>
        </li>
        <li>
            <h3 class="text-[28px] font-medium text-white pb-[10px]">
                Следите за нами   
            </h3>
          <p class="text-[16px] text-white flex items-center gap-2 pt-2">
            <i class="bi bi-facebook text-white"></i>
            truck_service_ofFicIaL
          </p>
          <p class="text-[16px] text-white flex items-center gap-2 pt-2"> 
            <i class="bi bi-instagram text-white"></i>
            truck_service_ofFicIaL
          </p>
         </li>

     </ul>
      <p class="text-[18px] text-white py-5">
        Copyright © Truck Services {new Date().getFullYear()}. All rights reserved.
      </p>
   </div>
</footer>